
.vs/ModuleLSD/config/applicationhost.config
.vs/ModuleLSD/v16/.suo
.vs/ModuleLSD/v16/Browse.VC.db
.vs/ModuleLSD/v16/Browse.VC.opendb
.vs/ModuleLSD/v16/ipch/AutoPCH/da31f04799fc3372/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
